/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.navbar .logo img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-links a:hover {
    color: #03BFCB;
}

/* Main Section Styles */
.main-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
}

/* About Us Image Styles */
.about-us-image {
    flex: 1;
    max-width: 30%;
}

.about-us-image img {
    max-width: 100%;
    height: auto;
}

/* About Us Content Styles */
.about-us-content {
    flex: 2;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-left: 20px;
    box-sizing: border-box;
}

.about-us-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


/* Meet Our Creators Section Styles */
.meet-our-creators {
    padding: 40px;
    text-align: center;
    background-color: #333;
    color: #fff; /* Text color for the Meet Our Creators section */
}

.meet-our-creators h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Profiles Section Styles */
.profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.card-container:hover {
    background-color: #f5f5f5;
    transform: scale(1.05);
}

.pro {
    background-color: #FEBB0B;
    color: #231E39;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 10px;
}

.round {
    border: 2px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
    max-width: 100px;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    font-size: 24px;
    color: #03BFCB;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #02899C;
}

.skills {
    background-color: #F2F2F2;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}

.skills h6 {
    font-size: 18px;
    margin-bottom: 10px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    margin: 0 7px 7px 0;
    padding: 7px 15px;
}
