/* Reset some default styles */
html, body, div, h1, h2, h3, p, ul, li, form, button {
  margin: 0;
  padding: 0;
}

/* Set a background color for the entire page */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  margin-top: 10px;
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.navbar .logo img {
  max-width: 100%;
  height: auto;
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-links a:hover {
  color: #03BFCB;
}

/* Contact Form Styles */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  width: 40%;
  padding: 20px;
  text-align: left;
}

.contact-info img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.contact-form {
  width: 55%;
  padding: 20px;
}

.contact-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.contact-form label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}

.contact-form textarea {
  resize: vertical;
  min-height: 150px;
}

.contact-form button[type="submit"] {
  background-color: #03BFCB;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contact-form button[type="submit"]:hover {
  background-color: #02899C;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .contact-container {
      flex-direction: column;
      align-items: center;
  }

  .contact-info {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
  }

  .contact-form {
      width: 100%;
  }
}
